{% extends "food/layout.html" %}
{% block window_title %}
Menuplex
{% endblock %}
{% block map %}

<style>
   #map {
    height: 350px;
    width: 200%;
   }
</style>
    <div id="map"></div>
<script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: {lat: {{lat}}, lng: {{lng}}}
        });
        setMarkers(map);
    }


        // var restaurants=[

        // ];

    function setMarkers(map){
        map:map
    //   for (var i = 0; i < restaurants.length; i++) {
    //     var restaurant = restaurants[i];
    //     var marker = new google.maps.Marker({
    //     animation: google.maps.Animation.DROP,
    //     draggable: true,
    //     map: map,
    //     title:restaurant[0],
    //     position:{lat:restaurant[1], lng:restaurant[2]},
    //     });

    // }
}

</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJG-bVA-9JCqT9FVFoYz5OWRfRr0g9LhQ&callback=initMap">
</script>
{% endblock %}
{% block content %}
<div class="container" style="display: inline-block">
<div class="row">
    {% if restaurant_dict %}
    <ul>
    {% for restaurant in restaurant_dict %}
    <div class="col-md-4" style="display:inline-block;">
        <div class="panel panel-default">
            <div class="panel-heading" style="border-style: solid">
                <h4><i class="fa fa-fw fa-check"></i><a href="{% url 'restaurant' school.shortname restaurant.0 %}">{{restaurant.0}}</a>
                <a href="#" class="btn btn-default">Map</a></h4>
            </div>
            <div class="panel-body">
            {% for meals in restaurant.1 %}
                <h4><strong>{{meals.0}}</strong></h4>
                {% for meal  in meals.1 %}
                <div class = 'meal' id='{{meal.id}}'>
                    {% if meal.soldout == False %}
                        <span id = "span{{ meal.id }}">{{meal}}</span>
                    {% else %}
                        <span id = "span{{ meal.id }}" style="text-decoration:line-through">{{meal}}</span>
                    {% endif %}
                </div>
                    <div class = "soldout" id="soldout{{ meal.id }}" style="width: 81.7383px; height: 33.2422px;">
                    {% if meal.soldout == False %}
                        <input type="checkbox"  checked data-toggle="toggle" id="toggle{{meal.id}}" name='toggle' data-size="mini" data-on="판매중" data-off="매진">
                    {% else %}
                        <input type="checkbox"  unchecked data-toggle="toggle" id="toggle{{meal.id}}" name='toggle' data-on="판매중" data-off="매진">
                    {% endif %}
                    </div>
                    <button type="button" onclick="location.href='{% url 'meal_comment' meal.school.shortname meal.restaurant.name meal.id  %}'">댓글</button>
                            </br></br>
                  {% endfor %}
            </li>
            {% endfor %}
            </div>
        </div>
    </div>

    {% endfor %}
  </ul>
    {% endif %}
</div>
{% endblock %}
