{% extends "layout.html" %}
{% block content %}
<h2>식당 설명</h2>
{% if restaurant %}
<ul>
    식당 이름 : {{restaurant.name}} <br>
    식당 위치 : {{restaurant.location}}


    <ul>
    {% for comment in restaurant.comment_set.all %}
        <li>
            {{ comment.message }}
            at {{ comment.created_at }} by {{ comment.user.profile.nickname }}


            {% if comment.user == user %}
                <a href="{% url "comment_edit" shortname restaurant_name comment.pk %}">
                    수정
                </a>
                <a href="{% url "comment_delete" shortname restaurant_name comment.pk %}">
                    삭제
                </a>
            {% endif %}


        </li>
    {% endfor %}
<form action="" method="POST">
    {% csrf_token %}
<table>{{form.as_table}}</table>
<input type="SUBMIT" />
</form>



{% else %}
    <p> no restaurant description </p>
{% endif %}
{% endblock %}