{% extends "layout.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Menuplex</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../static/food/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../static/food/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../../static/food/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--이거 지도 반응형으로 만들고 싶은데 어떻게 안되나 ㅠㅠ  -->
    <style>
       #map {
        height: 200px;
        width: 200%;
       }
    </style>
</head>
  <body>
    <h3>My Google Maps</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: {lat: 37.45886, lng: 126.95}
          // 나중에 얘 손봐야 함. one to one 키였나? 암튼 식당이랑 다르게 학교당 하나만 받으면 됨니당~
        });
        setMarkers(map);
    }

        var restaurants=[
        ['자하연 식당',37.4610126,126.9501219],
        ['감골 식당',37.4637651,126.9490199],
        ['동원관',37.4640802,126.9495671],
        ['302 식당',37.4502747,126.9534753],
        ];

    function setMarkers(map){
      for (var i = 0; i < restaurants.length; i++) {
        var restaurant = restaurants[i];
        var marker = new google.maps.Marker({
        animation: google.maps.Animation.DROP,
        draggable: true,
        map: map,
        title:restaurant[0],
        position:{lat:restaurant[1], lng:restaurant[2]},
        // marker.addListener('click', toggleBounce),
      });

    }
}
    // function toggleBounce() {
    //   if (marker.getAnimation() !== null) {
    //     marker.setAnimation(null);
    //   } else {
    //     marker.setAnimation(google.maps.Animation.BOUNCE);
    //   }
    // }

    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDJG-bVA-9JCqT9FVFoYz5OWRfRr0g9LhQ&callback=initMap">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!--버튼용 -->
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    {{ school.name }}
                </h1>
            </div>
            {% if restaurant_dict %}
            {% for restaurant in restaurant_dict %}
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i><a href="{% url 'restaurant' school.shortname restaurant.0 %}">{{restaurant.0}}</a>
                        <a href="#" class="btn btn-default">Map</a></h4>
                    </div>
                    <div class="panel-body">
                    {% for meals in restaurant.1 %}
                    {% for meal in meals.1 %}
                    <li class = 'meal' id='{{meal.id}}'>
                        {% if meal.soldout == False %}
                            <span id = "span{{ meal.id }}">{{meal}}</span>
                        {% else %}
                            <span id = "span{{ meal.id }}" style="text-decoration:line-through">{{meal}}</span>
                        {% endif %}
                    </li>
                        <div class = "soldout" id="soldout{{ meal.id }}" style="width: 81.7383px; height: 33.2422px;">
                        {% if meal.soldout == False %}
                            <input type="checkbox"  checked data-toggle="toggle" id="toggle{{meal.id}}" name='toggle' data-size="mini" data-on="판매중" data-off="매진">
                        {% else %}
                            <input type="checkbox"  unchecked data-toggle="toggle" id="toggle{{meal.id}}" name='toggle' data-on="판매중" data-off="매진">
                        {% endif %}
                        </div>
                    {% endfor %}
                    <!-- <li>
                        {{meals.0}}
                        <ul>
                            {% for meal in meals.1 %}
                            <li class = 'meal' id='{{meal.id}}'>
                                {{meal}}
                            </li>
                            <table>
                            <form action="" method="get">
                            <table>{{ form.as_table }}</table>
                            </form>
                            </table>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %} -->
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>



<script>
// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');
    $(document).ready(function(){
        $('.meal').click(function(){
            var t = $(this)[0];
            var tstr = 'target' + t.id;
            var target = '#'+tstr;
            if ($(target).length==0){
                $.ajax({
                url : 'history/',
                type: 'GET',
                data : {'meal':t.id},
                success:function(data){
                    var p = document.createElement('div');
                    p.innerHTML = data;
                    p.setAttribute('style','display: none');
                    p.setAttribute('id',tstr);
                    t.append(p);
                    $(target).slideDown("slow");
                }
                });
            } else {
                if ($(target).attr("style") == 'display: none;') {
                    $(target).slideDown("slow");
                } else {
                    $(target).slideUp("slow");
                }
            }
        });

        $('.soldout').click(function() {
            var check_div = $(this).children("div");
            var bool = false;
            if(check_div.attr('class') == "toggle btn btn-primary"){
                bool = true;
            }
            else{
                bool = false;
            }
            alert("판매상태가 바뀝니다.");
            var get_id = $(this).attr('id');
            var get_id_d = get_id.replace("soldout", "");
            var get_id_r = get_id.replace("soldout", "span");
            var get_id_r = "#"+get_id_r;
            if(bool == true){
                $(get_id_r).attr("style", "text-decoration:line-through");
            }
            else{
                $(get_id_r).attr("style", "");
            }

            $.ajax({
                url: 'bool/',
                type: 'POST',
                data: {
                    'bool': bool,
                    'meal_pk' : get_id_d,
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                dataType: 'json',
                // complete: function (data) {
                //     alert("바뀜 성공");
                // }
            });
         });
    });

</script>
</body>
</html>
{% endblock %}
