{% extends "layout.html" %}

{% block content %}
<html>
  <head>

  </body>
</html>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!--버튼용 -->
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<h2>식당 리스트</h2>
{% if restaurant_dict %}
    <ul>
        {% for restaurant in restaurant_dict %}
        <li>
            <a href="{% url 'restaurant' school.shortname restaurant.0 %}">{{restaurant.0}}</a>
            <ol>
                {% for meals in restaurant.1 %}
                <li>
                    {{meals.0}}
                    <ul>
                        {% for meal in meals.1 %}
                        <li class = 'meal' id='{{meal.id}}'>
                            {{meal}}
                        </li>
                        <table>
                        <form action="" method="get">
                        <table>{{ form.as_table }}</table>
                        </form>
                        </table>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ol>

        </a>
        </li>
        {% endfor%}
    </ul>
{% else %}
    <p> 밥이 엄서요 </p>
{% endif %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $('.meal').click(function(){
            var t = $(this)[0];
            var tstr = 'target' + t.id;
            var target = '#'+tstr;
            if ($(target).length==0){
                $.ajax({
                url : 'history/',
                type: 'GET',
                data : {'meal':t.id},
                success:function(data){
                    var p = document.createElement('div');
                    p.innerHTML = data;
                    p.setAttribute('style','display: none');
                    p.setAttribute('id',tstr);
                    t.append(p);
                    $(target).slideDown("slow");
                }
                });
            } else {
                if ($(target).attr("style") == 'display: none;') {
                    $(target).slideDown("slow");
                } else {
                    $(target).slideUp("slow");
                }
            }
        });
    });
</script>
{% endblock %}
-
