{% extends "food/layout.html" %}
{% block window_title %}
Menuplex
{% endblock %}
{% block map %}
<!-- <h3>My Google Maps</h3>
<div id="map"></div> -->
{% endblock %}

{% block content %}
<div class="container">
<div class="row">
    <!-- <div class="col-lg-12">
        <h1 class="page-header">
            {{ school.name }}
        </h1>
    </div> -->
    {% if restaurant_dict %}
    <ul>
    {% for restaurant in restaurant_dict %}
    <div class="col-md-4" style="display:inline-block;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4><i class="fa fa-fw fa-check"></i><a href="{% url 'restaurant' school.shortname restaurant.0 %}">{{restaurant.0}}</a>
                <a href="#" class="btn btn-default">Map</a></h4>
            </div>
            <div class="panel-body">
            {% for meals in restaurant.1 %}
                <h4><strong>{{meals.0}}</strong></h4>
                {% for meal  in meals.1 %}
                <li class = 'meal' id='{{meal.id}}'>
                    {% if meal.soldout == False %}
                        <span id = "span{{ meal.id }}">{{meal}}</span>
                    {% else %}
                        <span id = "span{{ meal.id }}" style="text-decoration:line-through">{{meal}}</span>
                    {% endif %}
                </li>
                    <div class = "soldout" id="soldout{{ meal.id }}" style="width: 81.7383px; height: 33.2422px;">
                    {% if meal.soldout == False %}
                        <input type="checkbox"  checked data-toggle="toggle" id="toggle{{meal.id}}" name='toggle' data-size="mini" data-on="판매중" data-off="매진">
                    {% else %}
                        <input type="checkbox"  unchecked data-toggle="toggle" id="toggle{{meal.id}}" name='toggle' data-on="판매중" data-off="매진">
                    {% endif %}
                    </div>
                  {% endfor %}
            </li>
            {% endfor %}
            </div>
        </div>
    </div>

    {% endfor %}
  </ul>
    {% endif %}
</div>
{% endblock %}
