{% extends "layout.html" %}
{% block content %}
        <div class="container">
            <div class="row">
                {% for school in school_list %}
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <a href="{% url 'detail' school.shortname %}"><img src = "{{ school.logo.url }}" class="img-responsive" alt=""></a>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}
