{% extends "layout.html" %}
{% block content %}

<h3 style="padding-top: 30px">{{meal.name}}</h3>

{% if meal.mealcomment_set %}
<ul>
{% for comment in meal.mealcomment_set.all %}
  <li>{{ comment.message }} <small><i>{{ comment.created_at }}</i></small>

  {% if comment.user == user %}
        <a href= "{{comment.id}}/edit/">수정</a>
        <a href= "{{comment.id}}/delete/">삭제</a>

  {% endif %}



  </li>






{% endfor %}
</ul>
{% endif %}
<form action="" method="POST">
  {% csrf_token %}

    {{ form.as_p }}

  <button type="submit"/>저장</button>

</form>
<button onclick = "location.href='{% url 'detail' meal.restaurant.school.shortname %}'">식단으로 가기</button>
{% endblock %}