{% extends "layout.html" %}

{% block content %}
<!DOCTYPE html>

<h1 style="padding-top: 30px"></h1>


<form action="" method="post">
    {% csrf_token %}

        <table>
        <tbody><tr><th><label for="id_username">Email:</label></th><td><input autofocus="" id="id_username" maxlength="254" name="username" type="text" required=""></td></tr>
<tr><th><label for="id_password">Password:</label></th><td><input id="id_password" name="password" type="password" required=""></td></tr>
    </tbody>
    </table>
    <input type="submit" />


</form>



{% endblock %}