{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Babio</title>

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <link href="{% static "css/freelancer.min.css" %}" rel="stylesheet">

    <!-- <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <link href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    {% block extra_head %}
    {% endblock %}
</head>

<body id="page-top" class="index">
    <div id="includedContent"></div>
    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <h2>
                  <a class="navbar-brand" href="/">Babio
                  <!-- <img src = "../../media/babio.png" class="img-responsive" alt="" width=200 height=200 style="position:absolute; left:260px; top:15px"> -->
                  </a>
                </h2>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    {% if not user.is_authenticated %}
                    <li class="page-scroll"><a href="{% url "signup" %}"><h3>Sign in</h3></a></li>
                    <li class="page-scroll"><a href="{% url "login" %}?next={{ request.path }}"><h3>Login</h3></a></li>
                    {% else %}

                    <li class="page-scroll"><a data-target="#Modal" class="portfolio-link" data-toggle="modal"><h3>Profile</h3></a></li>
                    <!-- <li class="page-scroll"><a href="#portfolioModal1" class="portfolio-link" data-toggle="modal"><h3>Profile</h3></a></li> -->
                    <!-- <li class="page-scroll"><a href="{% url "profile" %}"><h3>Profile</h3></a></li> -->
                    <li class="page-scroll"><a href="{% url "logout" %}?next={{ request.path }}"><h3>Logout</h3></a></li>
                    {% endif %}
                    <!-- <li class="page-scroll"><img id="kakao-login" src="{{ MEDIA_URL }}/kakao_login_btn_small.png"></li> -->
                </ul>
            </div>
        </div>
    </nav>

    </br></br></br></br></br>
{% block map %}
{% endblock %}
    <section id="portfolio" style="background-color:#FFFFFE">
{% block content %}
{% endblock %}
    </section>


    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Modal -->
    <div class="portfolio-modal modal fade" id="Modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content modal-sm">
            <div class="modal-header" style="color:#FFFFFE">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
              <h4 class="modal-title" id="myModalLabel" style="color:#000000">My Profile</h4>
            </div>
            <div class="container">
                <div class="row">
                        <div class="modal-body modal-sm" style="text-align:left">
                                <div class="info">

                                  <strong>아이디</strong>  {{ user }}</br>
                                  <strong>닉네임</strong>  {{ user.profile.nickname }}</br>
                                  <strong>가입일</strong>  {{ user.date_joined }}</br></br></br>

                                </div>

                                <div class="mycomments">
                                내가 남긴 댓글</br>
                                {% for comment in user.comment_set.all %}
                                    {{ comment.message }}

                                    {% if comment.user == user %}
                                        <a href="{% url "comment_edit" comment.restaurant.school.shortname comment.restaurant.name comment.pk %}">
                                            수정
                                        </a>
                                        <a href="{% url "comment_delete" comment.restaurant.school.shortname comment.restaurant.name comment.pk %}">
                                            삭제
                                        </a></br>
                                    {% endif %}

                                <br><li>내가 메뉴에 남긴 댓글</li>
                                {% for comment in user.mealcomment_set.all %}
                                    {{ comment.message }}

                                    {% if comment.user == user %}
                                        <a href="{% url "meal_comment_edit" comment.meal.school.shortname comment.restaurant.name comment.meal.pk comment.pk %}">
                                            수정
                                        </a>
                                        <a href="{% url "meal_comment_delete" comment.meal.school.shortname comment.restaurant.name comment.meal.pk comment.pk %}">
                                            삭제
                                        </a></br>
                                    {% endif %}
                                {% endfor %}
                                {% endfor %}
                              </div>
                            <!-- <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- jQuery -->
    <!-- <script src="vendor/jquery/jquery.min.js"></script> -->
    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <!-- <script src="vendor/bootstrap/js/bootstrap.min.js"></script> -->
    <script src="{% static "vendor/bootstrap/js/bootstrap.min.js" %}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="{% static "js/jqBootstrapValidation.js" %}"></script>
    <script src="{% static "js/contact_me.js" %}"></script>

    <!-- Theme JavaScript -->
    <script src="js/freelancer.min.js"></script>


    <!-- Footer -->
    <footer class="text-center" id="about">
        <div class="footer-below">
            <div class="container">
                <!-- <div class="row">
                    <div class="col-lg-12 text-center">
                        <p>문구1</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-lg-offset-2">
                        <p>문구2</p>
                    </div>
                    <div class="col-lg-4">
                        <p>문구3</p>
                    </div>
                </div>
                <div class="row"> -->
                    <div class="col-lg-12">
                        Copyright &copy; P.rogramming 2017
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
